@media screen {
	
	section {
	}

	#leftt {
		float:left;
		width:48%;
		overflow:hidden;
		text-align: justify;

		font-size: 120%;
		font-family: "jf-openhuninn-1.1";
	}

	#rightt {
		float:right;
		width:48%;
		overflow:hidden;
		font-family: "jf-openhuninn-1.1";

	} 

	sup {
		font-size: 75%;
		font-family: "jf-openhuninn-1.1";
	}

	.p_outer {
		margin-top: 30mm;
		clear: both;
	}

	.p_left {
		float:left; 
		width			: 47%;
		padding-right	: 3%; 
		text-align		: justify;
		vertical-align	: top;
		display			: inline;
		font-size		: 95%;	
		font-family     : "jf-openhuninn-1.1";
		overflow		: visible;
	}

	.p_right {
		float:right; 
		width			: 47%;
		padding-left	: 3%; 
		vertical-align	: top;
		display			: inline;
		font-size		: 81%;
		font-family     : "jf-openhuninn-1.1";
		overflow		: visible;
	}
}
